//andreas1337.pkgs.visualstudio.com/_packaging/npmfeed/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJlZDc1OTI5OS1mMDZjLTRmMGUtODI1Ni0zYzc1NDhhMWM0OGUiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNjQ2MmE4NzQtZWZjYi00MjM0LWI3Y2YtOTdmMGZkN2ZkNGM3Iiwic2lkIjoiNzYwODA5OGEtNzMyMy00NjgxLTk5MGYtNWUzMWVhZWFhNmVlIiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbSIsIm5iZiI6MTQ5MDg4MTkxOSwiZXhwIjoxNDk4NzQ0MjkzfQ.kIY8ca0CaP68QdAXkQmB1BMtzdoZi5UzQIO-hGwGbZWsVco6JDDMuv3wRCdYXvkSTC2ckU2y37P-5dD0QmGeN20GKCVN675MWJW_A40KspM6D_yjJOupYl45SEjYXrNZWQ80NZ2QeN168PP_z2p2Sl2OGvh5G_TlIQRPw38TmdoZUH4ICY8tzwbebrsRYAs5ifNY6krat5rWZ0x-MAVZHQnf3_8_mdd7Zh9j5OTgkuKoEE3l-xk_0rZXVNMX5PMdg0wkeUSz8uR5EhQtb00RAeRaKr8O_MbA6q2J0n0GUxWmqzpHXViGK0lYe4rO4ik_hmB-jcHAob5u_vJL8rnCQQ

